.article-image {
  max-width: 170px;
  max-height: 170px;
  margin: 1em;
}

.article-card {
  border-bottom: 1px solid #ddd;
}

.article-description {
  margin-bottom: 0;
}

.article-content {
  font-size: 0.9rem;
}
