#mainContent {
  min-height: 80vh;
}

#mainContent .row {
  padding: 0 3em;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.like-btn {
  min-width: 120px;
}

body {
  background-color:#f8f9fa;
  font-family: 'Open Sans', sans-serif;
}
